.pricing__container {
    display: flex;
    justify-content: space-between;
    padding: 100px 60px;
    height: 650px;
    flex-wrap: wrap;
    align-items: stretch;
}

.pricing__title {
    font-size: 48px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 15px;
}